
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-asv {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .header-8-UCc {
    overflow: hidden;
    background-color: #f9f9f9;
    flex-shrink: 0;
    width: 100%;
    height: 92.4rem;
    position: relative;

    .background-QMA {
      left: 0;
      top: 0;
      overflow: hidden;
      box-sizing: border-box;
      padding-top: 8rem;
      width: 144rem;
      height: 71rem;
      position: absolute;

      .cover-jPS {
        vertical-align: top;
        width: 144rem;
        height: 71rem;
        object-fit: cover;
      }
    }
    .container-UM2 {
      width: 113.9rem;
      height: 62.8rem;
      position: absolute;
      left: 19.7rem;
      top: 18.4rem;

      .row-QEg {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 8rem;
        width: 100%;
        height: 33.8rem;

        .col-md-6-8wN {
          width: 50.4rem;
          overflow: hidden;
          position: relative;
          row-gap: 3.5rem;
          flex-direction: column;
          margin-right: 12.5rem;
          height: 100%;
          display: flex;
          flex-shrink: 0;

          .h1-fgQ {
            font-weight: 800;
            line-height: 1.3793103448;
            letter-spacing: 0.02rem;
            color: #252b42;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 50.4rem;
            font-size: 5.8rem;
          }
          .h4-mzL {
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 37.6rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .cta-WBE {
            height: 4.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 15.5rem;
            width: calc(100% - 15.5rem);

            .buttonbtnprimary-colorbtn-round-Sqa {
              line-height: 2;
              display: flex;
              flex-shrink: 0;
              white-space: nowrap;
              align-items: center;
              background-color: #ffa62b;
              overflow: hidden;
              text-align: center;
              font-size: 1.4rem;
              letter-spacing: 0.02rem;
              font-family: Montserrat, 'Source Sans Pro';
              width: 18.5rem;
              position: relative;
              font-weight: 700;
              justify-content: center;
              border-radius: 3.7rem;
              margin-right: 1rem;
              height: 100%;
              color: #ffffff;
            }
            .buttonbtnprimary-colorbtn-outlinebtn-round-HbJ {
              width: 15.4rem;
              text-align: center;
              position: relative;
              line-height: 2;
              letter-spacing: 0.02rem;
              justify-content: center;
              flex-shrink: 0;
              height: 100%;
              overflow: hidden;
              font-weight: 700;
              color: #00a0c1;
              font-family: Montserrat, 'Source Sans Pro';
              border: solid 0.1rem #00a0c1;
              font-size: 1.4rem;
              white-space: nowrap;
              display: flex;
              align-items: center;
              box-sizing: border-box;
              border-radius: 3.7rem;
            }
          }
        }
        .col-md-6-Knt {
          flex-shrink: 0;
          margin: 2.9rem 0;
          width: 51rem;
          height: calc(100% - 5.8rem);
          overflow: hidden;
          position: relative;
        }
      }
      .row-TPJ {
        height: 21rem;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;

        .card-item-oCG {
          height: 100%;
          position: relative;
          display: flex;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.9rem 6.6rem 3.5rem 4rem;
          overflow: hidden;
          flex-direction: column;
          box-shadow: 0 1.3rem 1.9rem rgba(0, 0, 0, 0.0700000003);
          background-color: #ffffff;

          .icn-settings-icn-lg-WsN {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1.3291rem;
            width: 4.8rem;
            height: 4.0709rem;
            object-fit: contain;
          }
          .h3-que {
            font-family: Montserrat, 'Source Sans Pro';
            margin-bottom: 1rem;
            font-weight: 700;
            line-height: 1.3333333333;
            letter-spacing: 0.01rem;
            color: #252b42;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
          .paragraph-xUU {
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 21.7rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.4285714286;
            letter-spacing: 0.02rem;
          }
        }
        .card-item-dac {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.5rem 2.1rem 3.5rem 4rem;
          display: flex;
          box-shadow: 0 1.3rem 1.9rem rgba(0, 0, 0, 0.0700000003);
          background-color: #ffffff;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-direction: column;

          .icn-settings-icn-lg-kv8 {
            flex-shrink: 0;
            margin-bottom: 1.0585rem;
            width: 4.8rem;
            height: 4.7415rem;
            object-fit: contain;
            vertical-align: top;
          }
          .h3-Vcp {
            margin-bottom: 1rem;
            font-weight: 700;
            line-height: 1.3333333333;
            flex-shrink: 0;
            font-size: 2.4rem;
            letter-spacing: 0.01rem;
            color: #252b42;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .paragraph-DHv {
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 22.4rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.4285714286;
          }
        }
        .card-item-hyn {
          padding: 4rem 6.6rem 3.5rem 4rem;
          height: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          box-shadow: 0 1.3rem 1.9rem rgba(0, 0, 0, 0.0700000003);
          background-color: #00a0c1;
          overflow: hidden;

          .icn-settings-icn-lg-Eip {
            width: 4.8rem;
            height: 3.792rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1.508rem;
          }
          .h3-A6g {
            color: #ffffff;
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 2.4rem;
            line-height: 1.3333333333;
            flex-shrink: 0;
            font-weight: 700;
            letter-spacing: 0.01rem;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .paragraph-5De {
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 21.3rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.4285714286;
            letter-spacing: 0.02rem;
          }
        }
      }
    }
    .navbar-style-1-navbar-light-Yd2 {
      box-sizing: border-box;
      padding: 1.3rem 2.7rem 1.3rem 0rem;
      height: 5.8rem;
      position: absolute;
      display: flex;
      align-items: center;
      width: 104.8rem;
      left: 19.5rem;
      top: 1.1rem;
      overflow: hidden;

      .navbar-brand-EEx {
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 10.6rem;
        white-space: nowrap;
        font-size: 2.4rem;
        letter-spacing: 0.01rem;
        justify-content: center;
        margin-right: 55.5rem;
        font-weight: 700;
        line-height: 1.3333333333;
        color: #252b42;
        font-family: Montserrat, 'Source Sans Pro';
        position: relative;
      }
      .collapse-navbar-collapse-7Ze {
        height: calc(100% - 0.8rem);
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin: 0.4rem 0;
        width: 36rem;

        .navbar-nav-Dsa {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          overflow: hidden;

          .li-8zY {
            height: 100%;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            margin-right: 2.1rem;
            width: 4.5rem;

            .a-Tmv {
              color: #000000;
              white-space: nowrap;
              display: flex;
              width: 100%;
              position: relative;
              text-align: center;
              font-weight: 600;
              overflow: hidden;
              font-size: 1.4rem;
              line-height: 1.7142857143;
              align-items: center;
              justify-content: center;
              height: 100%;
              letter-spacing: 0.02rem;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .li-YHa {
            box-sizing: border-box;
            padding: 0 0.7rem;
            width: 6rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            margin-right: 2.1rem;

            .a-Uh2 {
              letter-spacing: 0.02rem;
              color: #727272;
              font-weight: 600;
              justify-content: center;
              width: 100%;
              overflow: hidden;
              text-align: center;
              position: relative;
              font-family: Montserrat, 'Source Sans Pro';
              align-items: center;
              white-space: nowrap;
              display: flex;
              height: 100%;
              font-size: 1.4rem;
              line-height: 1.7142857143;
            }
          }
          .li-nhi {
            margin-right: 2.4rem;
            width: 5rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .a-Lz8 {
              white-space: nowrap;
              display: flex;
              line-height: 1.7142857143;
              color: #727272;
              font-family: Montserrat, 'Source Sans Pro';
              font-weight: 600;
              justify-content: center;
              letter-spacing: 0.02rem;
              align-items: center;
              width: 100%;
              position: relative;
              font-size: 1.4rem;
              height: 100%;
              overflow: hidden;
              text-align: center;
            }
          }
          .li-rBn {
            height: 100%;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            margin-right: 2.1rem;
            width: 5.9rem;

            .a-QUC {
              position: relative;
              font-size: 1.4rem;
              color: #727272;
              width: 100%;
              font-family: Montserrat, 'Source Sans Pro';
              align-items: center;
              height: 100%;
              overflow: hidden;
              text-align: center;
              font-weight: 600;
              line-height: 1.7142857143;
              white-space: nowrap;
              justify-content: center;
              letter-spacing: 0.02rem;
              display: flex;
            }
          }
          .li-iUt {
            position: relative;
            flex-shrink: 0;
            width: 5.9rem;
            height: 100%;
            overflow: hidden;

            .a-HH6 {
              text-align: center;
              font-family: Montserrat, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              overflow: hidden;
              position: relative;
              font-weight: 600;
              letter-spacing: 0.02rem;
              color: #727272;
              height: 100%;
              white-space: nowrap;
              width: 100%;
              font-size: 1.4rem;
              line-height: 1.7142857143;
              display: flex;
            }
          }
        }
      }
    }
  }
  .features-10-aGC {
    width: 100%;
    height: 52.6rem;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f9f9f9;
    flex-shrink: 0;
    padding: 8rem 20.55rem 8rem 19.55rem;

    .container-6kL {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .row-Tat {
        padding: 0 17.65rem;
        width: calc(100% - 17.5rem);
        height: 10.7rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 8.25rem 5rem 9.25rem;
        box-sizing: border-box;

        .main-content-n7N {
          position: relative;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          overflow: hidden;

          .h2-8h2 {
            line-height: 1.425;
            color: #252b42;
            flex-shrink: 0;
            margin-bottom: 1rem;
            font-weight: 700;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 4rem;
            letter-spacing: 0.02rem;
          }
          .paragraph-G2Y {
            font-family: Montserrat, 'Source Sans Pro';
            font-weight: 500;
            color: #727272;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            letter-spacing: 0.02rem;
            flex-shrink: 0;
            max-width: 51.1rem;
            text-align: center;
          }
        }
      }
      .row-NrG {
        width: 100%;
        height: 20.9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .card-item-XjA {
          box-sizing: border-box;
          padding: 3rem 5.95rem;
          height: 100%;
          overflow: hidden;
          flex-direction: column;
          margin-right: 3.8rem;
          position: relative;
          row-gap: 1rem;
          align-items: center;
          display: flex;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;

          .icn-settings-icn-lg-qzk {
            width: 4.8rem;
            height: 4.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .h2-aSY {
            letter-spacing: 0.02rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.425;
            color: #252b42;
            font-family: Montserrat, 'Source Sans Pro';
            margin-left: 0.1rem;
          }
          .h5-HLx {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.01rem;
            color: #727272;
            font-size: 1.6rem;
          }
        }
        .card-item-BhE {
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 4.1rem;
          box-sizing: border-box;
          row-gap: 1rem;
          flex-direction: column;
          align-items: center;
          display: flex;
          padding: 3rem 2.95rem;
          height: 100%;
          overflow: hidden;
          position: relative;

          .icn-settings-icn-lg-63W {
            width: 4.8rem;
            height: 4.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .h2-Dtp {
            margin-left: 0.4rem;
            font-weight: 700;
            line-height: 1.425;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 4rem;
            letter-spacing: 0.02rem;
            color: #252b42;
            white-space: nowrap;
          }
          .h5-Yw6 {
            text-align: center;
            font-size: 1.6rem;
            letter-spacing: 0.01rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            font-weight: 700;
            line-height: 1.5;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .card-item-siU {
          margin-right: 4rem;
          box-sizing: border-box;
          position: relative;
          align-items: center;
          flex-direction: column;
          background-color: #ffffff;
          flex-shrink: 0;
          padding: 3rem 3.85rem;
          height: 100%;
          overflow: hidden;
          row-gap: 1rem;
          display: flex;

          .icn-settings-icn-lg-Pgp {
            flex-shrink: 0;
            margin-left: 0.084rem;
            width: 3.584rem;
            height: 4.8rem;
            object-fit: contain;
            vertical-align: top;
          }
          .h2-vgk {
            margin-right: 0.1rem;
            line-height: 1.425;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 4rem;
            font-weight: 700;
            letter-spacing: 0.02rem;
            color: #252b42;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .h5-2zg {
            font-size: 1.6rem;
            line-height: 1.5;
            letter-spacing: 0.01rem;
            color: #727272;
            white-space: nowrap;
            text-align: center;
            font-weight: 700;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .card-item-mBa {
          padding: 3.4rem 5.95rem 3rem 5.95rem;
          overflow: hidden;
          box-sizing: border-box;
          position: relative;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          flex-shrink: 0;
          height: 100%;

          .icn-settings-icn-lg-6Uk {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 1.329rem 0.1rem;
            width: 4.8rem;
            height: 4.0709rem;
          }
          .h2-1bi {
            font-weight: 700;
            letter-spacing: 0.02rem;
            color: #252b42;
            margin-bottom: 1rem;
            font-size: 4rem;
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.425;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .h5-8gL {
            font-size: 1.6rem;
            letter-spacing: 0.01rem;
            font-family: Montserrat, 'Source Sans Pro';
            text-align: center;
            font-weight: 700;
            line-height: 1.5;
            color: #727272;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .features-7-Q84 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8rem 19.5rem;
    width: 100%;
    height: 69.9rem;
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;

    .container-YEG {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 4.5rem 0.05rem 0rem 0.05rem;
      width: 100%;
      height: 100%;
      align-items: center;

      .container-UNp {
        flex-shrink: 0;
        margin: 0rem 9.25rem 4.5rem 9.25rem;
        width: calc(100% - 18.5rem);
        height: 10.7rem;
        overflow: hidden;
        position: relative;

        .row-1Nk {
          padding: 0 19.7rem;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          box-sizing: border-box;

          .main-content-mMv {
            overflow: hidden;
            position: relative;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .h2-vVi {
              font-size: 4rem;
              font-weight: 700;
              line-height: 1.425;
              letter-spacing: 0.02rem;
              color: #252b42;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .paragraph-Fnt {
              flex-shrink: 0;
              max-width: 47rem;
              text-align: center;
              letter-spacing: 0.02rem;
              color: #727272;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.4285714286;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
        }
      }
      .row-N6p {
        height: 34.2rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-right: 0.4rem;

        .col-md-3-74Q {
          height: 32.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          margin-right: 3.45rem;
          box-sizing: border-box;
          padding: 0 0.3rem;
          width: 23.8rem;

          .card-item-FAc {
            box-sizing: border-box;
            padding: 3rem 0.1rem 0rem 0.1rem;
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;

            .card-content-PGp {
              flex-shrink: 0;
              margin: 0rem 4rem 3rem 2.9rem;
              width: calc(100% - 6.9rem);
              height: 12.3rem;
              position: relative;
              overflow: hidden;

              .h5-iK6 {
                left: 0;
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: 0.01rem;
                font-family: Montserrat, 'Source Sans Pro';
                width: 13rem;
                height: 7.2rem;
                position: absolute;
                top: 0;
                line-height: 1.5;
                color: #252b42;
              }
              .paragraph-psv {
                width: 16.1rem;
                height: 6rem;
                position: absolute;
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: 0.02rem;
                left: 0;
                top: 6.3rem;
                line-height: 1.4285714286;
                color: #727272;
                font-family: Montserrat, 'Source Sans Pro';
              }
            }
            .media-vvx {
              width: 100%;
              overflow: hidden;
              position: relative;
              flex-shrink: 0;

              .cover-tct {
                width: 23rem;
                height: 13.8rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
        }
        .card-item-oE4 {
          height: 100%;
          display: flex;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3rem 0.1rem 2.1rem 0.1rem;
          width: 23.2rem;
          align-items: center;
          flex-direction: column;

          .card-content-ibv {
            height: 12.3rem;
            position: relative;
            overflow: hidden;
            flex-shrink: 0;
            margin: 0rem 2.4rem 3rem 2.9rem;
            width: calc(100% - 5.3rem);

            .h5-F64 {
              position: absolute;
              left: 0;
              top: 0;
              font-size: 1.6rem;
              line-height: 1.5;
              letter-spacing: 0.01rem;
              width: 12.3rem;
              height: 7.2rem;
              font-weight: 700;
              color: #252b42;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .paragraph-xWG {
              position: absolute;
              left: 0;
              top: 6.3rem;
              font-weight: 500;
              letter-spacing: 0.02rem;
              color: #727272;
              width: 17.7rem;
              height: 6rem;
              font-family: Montserrat, 'Source Sans Pro';
              font-size: 1.4rem;
              line-height: 1.4285714286;
            }
          }
          .media-sNL {
            width: 100%;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .cover-dsJ {
              width: 23rem;
              height: 13.8rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
        .auto-group-bepl-mic {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 3.85rem;
          height: 100%;
          display: flex;
          align-items: flex-start;

          .card-item-hsA {
            padding: 3rem 0.1rem 0rem 0.1rem;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 3.8rem;
            width: 23.2rem;
            align-items: center;
            box-sizing: border-box;

            .card-content-EMJ {
              margin: 0rem 3.7rem 3rem 2.9rem;
              width: calc(100% - 6.6rem);
              height: 12.3rem;
              position: relative;
              overflow: hidden;
              flex-shrink: 0;

              .h5-kqS {
                width: 12.3rem;
                height: 7.2rem;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.01rem;
                color: #252b42;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .paragraph-572 {
                font-size: 1.4rem;
                font-family: Montserrat, 'Source Sans Pro';
                width: 16.4rem;
                position: absolute;
                top: 6.3rem;
                line-height: 1.4285714286;
                letter-spacing: 0.02rem;
                color: #727272;
                height: 6rem;
                left: 0;
                font-weight: 500;
              }
            }
            .media-apU {
              width: 100%;
              overflow: hidden;
              position: relative;
              flex-shrink: 0;

              .cover-kU4 {
                width: 23rem;
                height: 13.8rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
          .card-item-VRe {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 3rem 0.1rem 0rem 0.1rem;
            width: 23.2rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;

            .card-content-cmA {
              position: relative;
              overflow: hidden;
              flex-shrink: 0;
              margin: 0rem 2.2rem 3rem 2.9rem;
              width: calc(100% - 5.1rem);
              height: 12.3rem;

              .h5-woS {
                position: absolute;
                left: 0;
                font-size: 1.6rem;
                line-height: 1.5;
                letter-spacing: 0.01rem;
                color: #252b42;
                width: 10.3rem;
                height: 7.2rem;
                font-family: Montserrat, 'Source Sans Pro';
                top: 0;
                font-weight: 700;
              }
              .paragraph-fDe {
                width: 17.9rem;
                height: 6rem;
                position: absolute;
                font-family: Montserrat, 'Source Sans Pro';
                left: 0;
                top: 6.3rem;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.4285714286;
                letter-spacing: 0.02rem;
                color: #727272;
              }
            }
            .media-mnU {
              width: 100%;
              overflow: hidden;
              position: relative;
              flex-shrink: 0;

              .cover-wS4 {
                width: 23rem;
                height: 13.8rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
  }
  .about-2-TfJ {
    padding: 0 19.5rem;
    width: 100%;
    height: 91.1rem;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;

    .container-1B2 {
      width: 100%;
      height: 85.4rem;
      overflow: hidden;
      position: relative;
      display: flex;
      padding: 10rem 0;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;

      .row-92L {
        margin: 0rem 26.95rem 10rem 26.95rem;
        width: calc(100% - 53.9rem);
        height: 11.2rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .main-content-4uz {
          flex-direction: column;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          align-items: center;
          display: flex;

          .h2-2M2 {
            text-align: center;
            font-size: 4rem;
            font-weight: 700;
            letter-spacing: 0.02rem;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            line-height: 1.425;
            color: #252b42;
            white-space: nowrap;
          }
          .paragraph-xEg {
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 51.1rem;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.4285714286;
            color: #727272;
            letter-spacing: 0.02rem;
          }
        }
      }
      .row-fun {
        height: 44.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 0.15rem;
        width: 100%;

        .col-md-8-aWx {
          margin-right: 12.15rem;
          width: 59.7rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .card-item-vKv {
            background-color: #ffffff;
            border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            border: solid 0.1rem #dedede;
            box-sizing: border-box;

            .media-bg-cover-HgG {
              background-position: center;
              padding: 17.2rem 24.94rem 17.16rem 25rem;
              overflow: hidden;
              position: relative;
              background-size: cover;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:1:181');
              box-sizing: border-box;
              width: 100%;
              height: 100%;

              .buttonbuttonbtnprimary-colorbtn-circlebtn-lg-cyS {
                vertical-align: top;
                border-radius: 7.36rem;
                width: 9.76rem;
                height: 9.84rem;
                object-fit: contain;
              }
            }
          }
        }
        .col-md-4-UEx {
          flex-shrink: 0;
          margin: 1.2rem 0;
          width: 33.3rem;
          height: calc(100% - 2.4rem);
          align-items: center;
          display: flex;
          flex-direction: column;

          .div-oY8 {
            margin-bottom: 5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .most-trusted-in-our-field-A7n {
              margin-bottom: 1rem;
              font-size: 4rem;
              line-height: 1.425;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 33.3rem;
              font-weight: 700;
              letter-spacing: 0.02rem;
              color: #252b42;
            }
            .most-calendars-are-designed-for-teams-slate-is-designed-for-freelancers-who-want-a-simple-way-to-plan-their-schedule-GAp {
              line-height: 1.4285714286;
              letter-spacing: 0.02rem;
              color: #727272;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 33.1rem;
              font-size: 1.4rem;
              font-weight: 500;
            }
          }
          .card-item-vmA {
            margin-bottom: 3rem;
            width: 100%;
            height: 7.7rem;
            overflow: hidden;
            position: relative;
            border-radius: 0.9rem;
            flex-shrink: 0;

            .flex-row-UGt {
              box-sizing: border-box;
              padding-left: 0.1rem;
              width: 29.6rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              display: flex;
              align-items: flex-start;

              .icn-settings-icn-md-RC8 {
                width: 2.9751rem;
                height: 2.9655rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.1rem 2.125rem 0rem 0rem;
              }
              .div-wRN {
                width: 24.4rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .h5-fsA {
                  font-size: 1.6rem;
                  line-height: 1.5;
                  color: #252b42;
                  width: 24.4rem;
                  position: absolute;
                  top: 0;
                  letter-spacing: 0.01rem;
                  font-family: Montserrat, 'Source Sans Pro';
                  height: 7.2rem;
                  left: 0;
                  font-weight: 700;
                }
                .h6-ysr {
                  white-space: nowrap;
                  height: 2.4rem;
                  position: absolute;
                  left: 0;
                  letter-spacing: 0.02rem;
                  line-height: 1.7142857143;
                  color: #727272;
                  font-family: Montserrat, 'Source Sans Pro';
                  width: 22.2rem;
                  top: 5.3rem;
                  font-size: 1.4rem;
                  font-weight: 600;
                }
              }
            }
          }
          .card-item-HNk {
            width: 100%;
            height: 7.7rem;
            overflow: hidden;
            position: relative;
            border-radius: 0.9rem;
            flex-shrink: 0;

            .flex-row-qv4 {
              position: relative;
              display: flex;
              align-items: flex-start;
              width: 29.6rem;
              height: 100%;
              overflow: hidden;

              .icn-settings-icn-md-Pwa {
                flex-shrink: 0;
                margin: 0.3rem 1.955rem 0rem 0rem;
                width: 3.2447rem;
                height: 2.5938rem;
                object-fit: contain;
                vertical-align: top;
              }
              .div-X2C {
                width: 24.4rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .h5-UTE {
                  left: 0;
                  font-size: 1.6rem;
                  line-height: 1.5;
                  top: 0;
                  font-weight: 700;
                  letter-spacing: 0.01rem;
                  color: #252b42;
                  font-family: Montserrat, 'Source Sans Pro';
                  width: 24.4rem;
                  height: 7.2rem;
                  position: absolute;
                }
                .h6-oEc {
                  height: 2.4rem;
                  position: absolute;
                  font-size: 1.4rem;
                  line-height: 1.7142857143;
                  color: #727272;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 22.2rem;
                  top: 5.3rem;
                  font-weight: 600;
                  letter-spacing: 0.02rem;
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .clients-2-5C8 {
    width: 100%;
    position: relative;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 19.5rem 8.5rem 19.5rem;
    overflow: hidden;
    display: flex;
    background-color: #f9f9f9;

    .container-QVJ {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 105rem;
      height: 17.5rem;
      object-fit: contain;
    }
    .container-YrQ {
      width: 100%;
      height: 12.4rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .row-JKn {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;

        .card-item-fg8 {
          border-radius: 0.2rem;
          box-sizing: border-box;
          padding: 3rem 4.2rem 3rem 5rem;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          background-color: #16697a;

          .flex-row-Qtc {
            display: flex;
            align-items: flex-start;
            box-sizing: border-box;
            padding-right: 1rem;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            .h3-mDN {
              letter-spacing: 0.01rem;
              font-size: 2.4rem;
              line-height: 1.3333333333;
              font-weight: 700;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 23.9rem;
              max-width: 25.9rem;
            }
            .input-group-Uda {
              width: 45rem;
              height: calc(100% - 0.6rem);
              overflow: hidden;
              position: relative;
              flex-shrink: 0;
              margin: 0.3rem 0;

              .form-control-input-style-1-29J {
                height: 100%;
                position: relative;
                display: flex;
                background-color: #f8f8f8;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding-left: 2rem;
                width: 100%;
                overflow: hidden;
                align-items: center;
                border: solid 0.1rem #e6e6e6;

                .your-email-m6t {
                  color: #727272;
                  white-space: nowrap;
                  margin-right: 23.5rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  flex-shrink: 0;
                  line-height: 2;
                  letter-spacing: 0.02rem;
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .input-group-append-gUk {
                  height: 100%;
                  overflow: hidden;
                  position: relative;
                  flex-shrink: 0;
                  width: 11.7rem;

                  .btn-EWG {
                    width: 100%;
                    align-items: center;
                    border: solid 0.1rem #e6e6e6;
                    box-sizing: border-box;
                    border-radius: 0 0.5rem 0.5rem 0;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 2;
                    color: #ffffff;
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                    justify-content: center;
                    background-color: #ffa62b;
                    height: 100%;
                    letter-spacing: 0.02rem;
                    display: flex;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .contact-4-Qp4 {
    overflow: hidden;
    position: relative;
    background-color: #f3f3f3;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8rem 19.85rem 8rem 19.75rem;
    width: 100%;
    height: 80.8rem;

    .container-jrL {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 52rem;
      overflow: hidden;
      position: relative;

      .row-tDS {
        width: calc(100% - 18rem);
        height: 10.7rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 8.95rem 8rem 9.05rem;
        box-sizing: border-box;
        padding: 0 19.7rem;

        .main-content-QSg {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          align-items: center;

          .h2-xUC {
            white-space: nowrap;
            font-weight: 700;
            line-height: 1.425;
            letter-spacing: 0.02rem;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1rem;
            font-size: 4rem;
            color: #252b42;
          }
          .paragraph-Gzg {
            text-align: center;
            font-weight: 500;
            line-height: 1.4285714286;
            font-family: Montserrat, 'Source Sans Pro';
            max-width: 47rem;
            font-size: 1.4rem;
            letter-spacing: 0.02rem;
            color: #727272;
            flex-shrink: 0;
          }
        }
      }
      .row-CNY {
        display: flex;
        align-items: center;
        background-image: url('REPLACE_IMAGE:1:259');
        width: 100%;
        height: 33.3rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;

        .card-item-jtG {
          box-sizing: border-box;
          width: 32.8rem;
          align-items: center;
          margin-right: 2.9rem;
          padding: 5rem 5.35rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          row-gap: 1.5rem;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          flex-shrink: 0;

          .icn-settings-icn-xl-SXn {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 7.2rem;
            height: 7.2rem;
          }
          .div-BVN {
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            align-items: center;
            display: flex;

            .h6-Lt4 {
              font-size: 1.4rem;
              flex-shrink: 0;
              white-space: nowrap;
              text-align: center;
              font-weight: 600;
              line-height: 1.7142857143;
              letter-spacing: 0.02rem;
              color: #252b42;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .h6-GWp {
              font-weight: 600;
              line-height: 1.7142857143;
              color: #252b42;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              text-align: center;
              letter-spacing: 0.02rem;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
          .h5-Q7E {
            flex-shrink: 0;
            white-space: nowrap;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.01rem;
            color: #252b42;
            font-family: Montserrat, 'Source Sans Pro';
            text-align: center;
          }
          .buttonprimary-colorbtn-outlinebtn-sm-94p {
            letter-spacing: 0.02rem;
            box-sizing: border-box;
            width: calc(100% - 6.1rem);
            line-height: 1.7142857143;
            font-weight: 600;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            margin: 0 3.05rem;
            overflow: hidden;
            color: #ffa62b;
            font-family: Montserrat, 'Source Sans Pro';
            border: solid 0.1rem #ffa62b;
            border-radius: 0.5rem;
            height: 4.4rem;
            font-size: 1.4rem;
            display: flex;
            flex-shrink: 0;
            position: relative;
            text-align: center;
          }
        }
        .card-item-B1W {
          display: flex;
          flex-direction: column;
          padding: 5rem 5.35rem;
          height: 100%;
          align-items: center;
          position: relative;
          row-gap: 1.5rem;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 32.8rem;
          overflow: hidden;

          .icn-settings-icn-xl-gyr {
            width: 7.2rem;
            height: 7.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .div-RwS {
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            align-items: center;
            display: flex;

            .h6-CSQ {
              text-align: center;
              font-size: 1.4rem;
              font-weight: 600;
              letter-spacing: 0.02rem;
              white-space: nowrap;
              line-height: 1.7142857143;
              color: #252b42;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .h6-L2p {
              text-align: center;
              font-size: 1.4rem;
              font-weight: 600;
              white-space: nowrap;
              flex-shrink: 0;
              line-height: 1.7142857143;
              letter-spacing: 0.02rem;
              color: #252b42;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .h5-fat {
            font-weight: 700;
            color: #252b42;
            font-size: 1.6rem;
            line-height: 1.5;
            letter-spacing: 0.01rem;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
          .buttonprimary-colorbtn-outlinebtn-sm-bzL {
            white-space: nowrap;
            justify-content: center;
            border-radius: 0.5rem;
            flex-shrink: 0;
            height: 4.4rem;
            text-align: center;
            color: #ffa62b;
            display: flex;
            width: calc(100% - 6.1rem);
            line-height: 1.7142857143;
            font-family: Montserrat, 'Source Sans Pro';
            margin: 0 3.05rem;
            position: relative;
            font-size: 1.4rem;
            font-weight: 600;
            letter-spacing: 0.02rem;
            align-items: center;
            border: solid 0.1rem #ffa62b;
            box-sizing: border-box;
            overflow: hidden;
          }
        }
      }
    }
  }
  .footer-5-DF2 {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
    position: relative;

    .auto-group-jlpk-xyJ {
      box-sizing: border-box;
      padding: 10rem 25.3rem 0rem 19.5rem;
      width: 149.8rem;
      height: 53.6rem;
      flex-shrink: 0;

      .frame-830-sqN {
        width: 100%;
        height: 100%;
        row-gap: 2rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .text-field-pEp {
          font-size: 1.4rem;
          padding: 1.3rem 2rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          color: #828282;
          border: solid 0.1rem #e0e0e0;
          box-sizing: border-box;
          font-weight: 400;
          line-height: 1.7142857143;
          letter-spacing: 0.014rem;
          display: flex;
          align-items: baseline;
          width: 100%;

          .text-field-pEp-sub-0 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
            letter-spacing: 0.014rem;
            color: #828282;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .text-field-pEp-sub-1 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
            letter-spacing: 0.014rem;
            color: #eb5757;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
        .text-field-ouN {
          width: 100%;
          font-size: 1.4rem;
          font-weight: 400;
          letter-spacing: 0.014rem;
          border: solid 0.1rem #e0e0e0;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.3rem 2rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.7142857143;
          color: #828282;
        }
        .text-field-VXJ {
          line-height: 1.7142857143;
          flex-shrink: 0;
          width: 100%;
          font-size: 1.4rem;
          letter-spacing: 0.014rem;
          color: #828282;
          font-weight: 400;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          border: solid 0.1rem #e0e0e0;
          box-sizing: border-box;
          padding: 1.3rem 2rem;
          display: flex;

          .text-field-VXJ-sub-0 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
            letter-spacing: 0.014rem;
            color: #828282;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .text-field-VXJ-sub-1 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
            letter-spacing: 0.014rem;
            color: #eb5757;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
        .text-field-YP6 {
          width: 100%;
          letter-spacing: 0.014rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.7142857143;
          flex-shrink: 0;
          height: 15.6rem;
          color: #828282;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem #e0e0e0;
          box-sizing: border-box;
          padding: 1.2rem 2rem;
          display: flex;
        }
        .dropdown-E12 {
          align-items: center;
          border: solid 0.1rem #e0e0e0;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.3rem 2rem;
          width: 100%;
          display: flex;

          .how-did-you-find-us-mWk {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
            color: #000000;
            margin-right: 84.8rem;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            letter-spacing: 0.014rem;
          }
          .vector-2-tbN {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0rem;
            width: 1.2rem;
            height: 0.6rem;
            object-fit: contain;
          }
        }
      }
    }
    .auto-group-75a4-1AC {
      padding: 5.9rem 19.5rem 4rem 19.5rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;

      .buttonbtnprimary-color-vnx {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 44.3rem 0rem 44.4rem;
        height: 5.8rem;
        overflow: hidden;
        color: #ffffff;
        white-space: nowrap;
        position: relative;
        text-align: center;
        letter-spacing: 0.02rem;
        display: flex;
        font-size: 1.4rem;
        border-radius: 0.5rem;
        background-color: #ffa62b;
        width: calc(100% - 88.7rem);
        font-weight: 700;
        line-height: 2;
        font-family: Montserrat, 'Source Sans Pro';
        justify-content: center;
      }
      .col-md-6-MtG {
        height: 5.8rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        width: 100%;
      }
    }
  }
  .div-6qr {
    width: 100%;
    height: 30.7rem;
    overflow: hidden;
    position: relative;
    background-color: #16697a;
    flex-shrink: 0;
  }
  .div-esN {
    position: relative;
    background-color: #f9f9f9;
    flex-shrink: 0;
    width: 100%;
    height: 6.8rem;
    overflow: hidden;
  }
}
