
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.mobile-G1A {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .header-6-t2Y {
    width: 100%;
    height: 202.6rem;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    flex-shrink: 0;

    .background-ZH6 {
      left: 0;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:13ab126b6a3ef58b0abbaf8f4b5e654b6599e125');
      height: 202.6rem;
      position: absolute;
      top: 0;
      background-repeat: no-repeat;
      background-position: center;
      width: 41.4rem;
    }
    .navbar-style-1-navbar-light-CL4 {
      box-sizing: border-box;
      height: 53.2rem;
      left: 0;
      top: 0;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      padding: 3.6rem 3.957rem 6.05rem 3.6rem;
      width: 41.6rem;
      position: absolute;
      background-color: #f6f6f6;

      .navbar-brand-rfW {
        margin-right: 0.3rem;
        overflow: hidden;
        line-height: 1.3333333333;
        height: 3.2rem;
        letter-spacing: 0.01rem;
        white-space: nowrap;
        align-items: center;
        position: relative;
        font-size: 2.4rem;
        font-weight: 700;
        color: #252b42;
        display: flex;
        justify-content: center;
        width: 10.6rem;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .navbar-nav-gPe {
        flex-direction: column;
        flex-shrink: 0;
        margin: 9.05rem 8.357rem 0rem 0rem;
        overflow: hidden;
        position: relative;
        row-gap: 3rem;
        align-items: center;
        display: flex;

        .mobile-menu-oDN {
          color: #727272;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.5;
          font-size: 3rem;
          font-weight: 400;
          letter-spacing: 0.02rem;
          text-align: center;
        }
        .mobile-menu-v36 {
          text-align: center;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.02rem;
          color: #727272;
          white-space: nowrap;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .mobile-menu-37i {
          flex-shrink: 0;
          font-size: 3rem;
          letter-spacing: 0.02rem;
          white-space: nowrap;
          color: #727272;
          font-family: Montserrat, 'Source Sans Pro';
          text-align: center;
          font-weight: 400;
          line-height: 1.5;
        }
        .mobile-menu-aNY {
          letter-spacing: 0.02rem;
          color: #727272;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          line-height: 1.5;
          white-space: nowrap;
          font-size: 3rem;
          font-weight: 400;
        }
        .mobile-menu-7dN {
          line-height: 1.5;
          letter-spacing: 0.02rem;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-weight: 400;
          white-space: nowrap;
          font-size: 3rem;
          color: #727272;
        }
      }
      .icn-menu-icn-xs-rax {
        flex-shrink: 0;
        margin-top: 0.9rem;
        width: 2.2857rem;
        height: 1.3714rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .container-N3W {
      height: 120.5rem;
      flex-direction: column;
      left: 0;
      top: 61.6rem;
      overflow: hidden;
      align-items: center;
      display: flex;
      width: 41.6rem;
      position: absolute;

      .row-UcL {
        height: 43.5rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 8rem;
        box-sizing: border-box;
        padding: 0 6.85rem;
        width: 100%;

        .main-content-ciY {
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;

          .auto-group-whcq-Z7z {
            margin-bottom: 4rem;
            width: 100%;
            height: 27.4rem;
            position: relative;
            flex-shrink: 0;

            .h1-T6t {
              height: 17.1rem;
              position: absolute;
              top: 0;
              text-align: center;
              font-size: 4rem;
              color: #252b42;
              font-family: Montserrat, 'Source Sans Pro';
              width: 24.3rem;
              left: 1.8rem;
              font-weight: 700;
              line-height: 1.425;
              letter-spacing: 0.02rem;
            }
            .h4-Yu2 {
              font-size: 2rem;
              color: #727272;
              font-family: Montserrat, 'Source Sans Pro';
              width: 27.9rem;
              position: absolute;
              left: 0;
              top: 15.4rem;
              text-align: center;
              height: 12rem;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.02rem;
            }
          }
          .cta-fCx {
            margin: 0 4.7rem;
            width: calc(100% - 9.4rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .buttonbtnprimary-colorbtn-round-c8C {
              height: 4.8rem;
              overflow: hidden;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 2;
              color: #ffffff;
              width: 100%;
              position: relative;
              justify-content: center;
              flex-shrink: 0;
              text-align: center;
              letter-spacing: 0.02rem;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              align-items: center;
              background-color: #ffa62b;
              margin-bottom: 2.5rem;
              border-radius: 3.7rem;
            }
            .buttonbtnprimary-colorbtn-outlinebtn-round-s48 {
              height: 4.8rem;
              font-weight: 700;
              letter-spacing: 0.02rem;
              align-items: center;
              width: calc(100% - 3.1rem);
              display: flex;
              justify-content: center;
              line-height: 2;
              text-align: center;
              font-size: 1.4rem;
              white-space: nowrap;
              box-sizing: border-box;
              border-radius: 3.7rem;
              overflow: hidden;
              position: relative;
              color: #00a0c1;
              font-family: Montserrat, 'Source Sans Pro';
              border: solid 0.1rem #00a0c1;
              flex-shrink: 0;
              margin: 0 1.55rem;
            }
          }
        }
      }
      .row-gXN {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0 4.35rem;
        width: calc(100% - 8.7rem);
        row-gap: 3rem;

        .col-md-4-DnC {
          box-shadow: 0 1.3rem 1.9rem rgba(0, 0, 0, 0.0700000003);
          flex-shrink: 0;
          margin: 0 0.05rem;
          width: calc(100% - 0.1rem);
          height: 21rem;

          .card-item-mHv {
            padding: 3.9rem 6rem 3.5rem 4rem;
            overflow: hidden;
            position: relative;
            display: flex;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            flex-direction: column;
            background-color: #ffffff;

            .icn-settings-icn-lg-hBa {
              height: 4.0709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 1.3291rem;
              width: 4.8rem;
            }
            .h3-2Dr {
              margin-bottom: 1rem;
              font-weight: 700;
              color: #252b42;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              line-height: 1.3333333333;
              letter-spacing: 0.01rem;
            }
            .paragraph-KTr {
              line-height: 1.4285714286;
              letter-spacing: 0.02rem;
              color: #727272;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 21.7rem;
              font-size: 1.4rem;
              font-weight: 500;
            }
          }
        }
        .col-md-4-zZz {
          height: 21rem;
          box-shadow: 0 1.3rem 1.9rem rgba(0, 0, 0, 0.0700000003);
          flex-shrink: 0;
          width: 100%;

          .card-item-xFv {
            padding: 3.5rem 5rem 3.5rem 4rem;
            height: 100%;
            overflow: hidden;
            row-gap: 1rem;
            align-items: center;
            background-color: #ffffff;
            box-sizing: border-box;
            width: 32.8rem;
            position: relative;
            display: flex;
            flex-direction: column;

            .icn-settings-icn-lg-s7z {
              height: 4.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 19rem;
              width: 4.8rem;
            }
            .h3-ao6 {
              letter-spacing: 0.01rem;
              color: #252b42;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.3333333333;
            }
            .paragraph-KEt {
              font-weight: 500;
              flex-shrink: 0;
              margin-right: 1.4rem;
              max-width: 22.4rem;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              letter-spacing: 0.02rem;
              color: #727272;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
        }
        .card-item-by6 {
          flex-shrink: 0;
          padding: 4rem 6rem 3.5rem 4rem;
          overflow: hidden;
          flex-direction: column;
          display: flex;
          background-color: #00a0c1;
          margin-right: 0.1rem;
          box-sizing: border-box;
          position: relative;

          .icn-settings-icn-lg-j3i {
            margin: 0rem 0rem 1.508rem 0.05rem;
            width: 4.8rem;
            height: 3.792rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .h3-egU {
            color: #ffffff;
            white-space: nowrap;
            font-size: 2.4rem;
            line-height: 1.3333333333;
            letter-spacing: 0.01rem;
            flex-shrink: 0;
            margin-bottom: 1rem;
            font-weight: 700;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .paragraph-NMa {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.4285714286;
            letter-spacing: 0.02rem;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 21.3rem;
          }
        }
      }
    }
  }
  .features-10-5Fz {
    background-color: #f3f3f3;
    flex-shrink: 0;
    width: 100%;
    height: 142.1rem;
    overflow: hidden;
    position: relative;
  }
  .features-7-cWp {
    overflow: hidden;
    position: relative;
    background-color: #f3f3f3;
    flex-shrink: 0;
    width: 100%;
    height: 189.8rem;
  }
  .about-2-ZS4 {
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    width: 100%;
    height: 149.3rem;
  }
  .clients-2-JPe {
    box-sizing: border-box;
    padding-top: 101.8rem;
    width: 100%;
    height: 123rem;
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    flex-shrink: 0;

    .container-qPa {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      background-color: #16697a;

      .row-CV2 {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .card-item-ARr {
          box-sizing: border-box;
          padding: 3rem 3.85rem;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          border-radius: 0.2rem;

          .flex-row-iCU {
            height: 100%;
            position: relative;
            overflow: hidden;
            width: 100%;

            .h3-sr4 {
              letter-spacing: 0.01rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              width: 25.9rem;
              height: 9.6rem;
              position: absolute;
              text-align: center;
              line-height: 1.3333333333;
              left: 3.9rem;
              top: 0;
              font-size: 2.4rem;
              font-weight: 700;
            }
            .input-group-yPJ {
              overflow: hidden;
              width: 33.7rem;
              height: 5.8rem;
              position: absolute;
              left: 0;
              top: 9.4rem;

              .form-control-input-style-1-7Ec {
                padding-left: 2rem;
                width: 100%;
                display: flex;
                box-sizing: border-box;
                height: 100%;
                overflow: hidden;
                position: relative;
                align-items: center;
                border: solid 0.1rem #e6e6e6;
                background-color: #f8f8f8;
                border-radius: 0.5rem;

                .your-email-dye {
                  font-family: Montserrat, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-right: 12.2rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  letter-spacing: 0.02rem;
                  line-height: 2;
                  color: #727272;
                  white-space: nowrap;
                }
                .input-group-append-ZMW {
                  width: 11.7rem;
                  height: 100%;
                  overflow: hidden;
                  position: relative;
                  flex-shrink: 0;

                  .btn-iVJ {
                    position: relative;
                    font-weight: 400;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0 0.5rem 0.5rem 0;
                    line-height: 2;
                    letter-spacing: 0.02rem;
                    white-space: nowrap;
                    display: flex;
                    border: solid 0.1rem #e6e6e6;
                    width: 100%;
                    overflow: hidden;
                    text-align: center;
                    background-color: #ffa62b;
                    height: 100%;
                    font-size: 1.4rem;
                    color: #ffffff;
                    font-family: Montserrat, 'Source Sans Pro';
                    box-sizing: border-box;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .contact-5-WRA {
    width: 100%;
    height: 153.1rem;
    overflow: hidden;
    position: relative;
    background-color: #f3f3f3;
    flex-shrink: 0;
  }
  .footer-5-Spc {
    height: 156.7rem;
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    flex-shrink: 0;
    width: 100%;
  }
}
